[Desktop Entry]
Version=1.1
Type=Application
Name=SavUTube v200410
Comment=Youtube-DL GUI for downloading MP4 and MP3.
Icon=/usr/local/bin/savutube.png
Exec=SavUTube.sh  "~/Videos/%(title)s-%(id)s"
Path=/home/
Categories=AudioVideo;AudioVideoEditing;
GenericName=SavUTube
Terminal=false
StartupNotify=false
